# ========================
# 全部忽略
# ========================
*

# ========================
# 允许目录结构
# ========================
!*/
!.gitignore

# ========================
# 只保留两个 src
# ========================
!NQ1_ws/src/**
!ydlidar_ws/src/**

# ========================
# 强制忽略构建文件
# ========================
NQ1_ws/build/
NQ1_ws/devel/
ydlidar_ws/build/
ydlidar_ws/devel/

# ========================
# 其他
# ========================
.vscode/
*.log